{% extends "dashboard/header.html" %}

{% block content %}
<h1 class="page-header"><small>What Is This?</small></h1>
<p> Many people may think they know how long they spend doing certian tasks however, many really do not. This web application is a simple 
    tool to assist people in better understand it. While this application doesn't track the time you spend, you do, it does however help
    you gain a graphical interpretation of how it compares to other tasks you do. 
</p>
<h1 class="page-header"><small>How Do I Use It?</small></h1>
<p>The basis of this project depends on you: the user. You have to actively track your time and input it here on the site.
    Whenever you would like to graphically view your spent time just fire up the site and head over to add a <a href="/newEvent">New Event</a>.
    The form will ask for the name of the event you spent time doing and how many hours you spent doing it. This is is a float value meaning 
    you simply enter a decimal number (E.g. An hour and a half would be entered 1.5). If you entered some time in incorrectly or misspelt a 
    title, you can <a href="/deleteEvent">Remove an Event</a> or you can remove all events if you reached the end of your testing period and wish
    to start again. 
</p>
{% endblock %}