{% extends "dashboard/header.html" %}


{% block content %}
<table class="table table-hover">
{% for event in data %}
    <tr>
        <td>{{ event.title }}</td>
        <td>
            <form method="POST" action="/delete/{{ event.id }}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Delete">
            </form>
        </td>
    </tr>
{% endfor %}
<tr>
    <td>EVERYTHING</td>
    <td>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete"> Delete </button>
    </td>
</tr>
</table>

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete everything?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" style="float:left;" data-dismiss="modal">Close</button>
            <form method="POST" action="/deleteEverything">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
        </div>
    </div>
</div>




{% endblock %}
