<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf=8" />
    {% load staticfiles %}
    <script src="{% static 'dashboard/js/jquery.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'dashboard/css/custom.css' %}" type="text/css">
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        html, body {height: 100%}
    </style>
    <link rel="shortcut icon" href="{% static 'dashboard/img/favicon.ico' %}">
</head>
<body class="body" style="background-color:#f6f6f6">
    <div class="container-fuild" style="min-height:95%;">
        <div class="row">
            <div class="col-md-3">
                <div class="well bs-sidebar" id="sidebar" style="background-color:#fff; margin:20%; margin-top:50%;">
                    <ul class="nav nav-pills nav-stacked" style="text-align:center;">
                        <li><a href="/">Home</a></li>
                        <li><a href="/newEvent">New Event</a></li>
                        <li><a href="/deleteEvent">Remove Event</a></li>
                        <li><a href="/about">About</a>
                    </ul>
                </div> <!-- sidebar -->
            </div> <!-- col-sm-2 -->
        <div class="col-md-8">
            <div class="container-fuild center-block" style="margin-top:18%;">
                {% block content %}
                {% endblock %}
            </div> <!-- container -->
        </div> <!-- col-md-10 -->
        </div> <!-- row -->
    </div> <!-- container-fluid -->

    <script>
    $(document).ready(function(){
        {% block jquery %}{% endblock %}
    })
    </script>  
</body>
<footer>
    <div class="container-fluid" style="margin-left:15px; margin-right:15px">
    <p style="float:right;">&copy;
        <script>document.write(new Date().getFullYear())</script> Jaydin Andrews
    </p>
    
    </div>
</footer>
</html>