{% extends "dashboard/header.html" %}

<script>
{% block jquery %}

var endpoint = '/api/chart/data/'
var defaultData = []
var labels = []

$.ajax({
    // method: "GET",
    // url: endpoint,
    success: function(data){
        //labels = data.labels
        //defaultData = data.default
        //console.log(data)
        var ctx = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
        type : 'doughnut',
        data: {
            datasets: [{
                data: [{% for event in data %} "{{ event.time_spent }}", {% endfor %}],
                backgroundColor: [{% for color in colors %}'{{ color }}',{% endfor %}],
                borderColor: [{% for color in colors %}'{{ color }}',{% endfor %}],
             }],

             labels: [{% for event in data %} "{{ event.title }}", {% endfor %}],
        },
        options: {
            legend: {
                display: true,
                position: 'right',
            }
        }
        });
    }

})

{% endblock jquery %}
</script>

{% block content %}
    <canvas id="myPieChart" height="135" height="135"></canvas>
{% endblock content %}