{% extends "dashboard/header.html" %}

{% block content %}

<table>
<form method="POST" action="">
{% csrf_token %}
<tr>
    <div class="form-group">
        <td><label>What did you do?</label></td>
        <td>{{ form.title }}</td>
    </div>
</tr>
<tr>
    <div class="form-group">
        <td><label>How many hours did you spend doing it?</label></td>
        <td>{{ form.time_spent }}</td>
    </div>
</tr>
</table>
<input type="submit" class="btn btn-primary"value="Add Event" />

</form>




{% endblock content %}